<div class="wrapper bg-03 h-100 p-4">
  <div class="header mb-4 d-flex justify-content-between align-items-center">
    <img src="../../../assets/spain.png" alt="" width="30px">
    <h3 class="text-center">Añadir jugadores</h3>
    <ion-icon (click)="showHowToPlay()" name="help-circle" class="icons"></ion-icon>
  </div>
  <div class="players-list mb-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="player-item mb-2" formArrayName="users" *ngFor="let creds of form.controls.users.controls; let i = index">
      <div class="player-icon bg-02 p-2"><ion-icon name="person"></ion-icon></div>
      <ng-container [formGroupName]="i">
        <ion-input class="player-name bg-01 pl-4" placeholder="Nombre jugador" formControlName="username"></ion-input>
      </ng-container>
      <div class="player-action bg-01 pr-2"><ion-icon name="trash"></ion-icon></div>
    </div>


    <div class="add-player mb-4">
      <ion-icon (click)="addUserForm()" name="add-circle"></ion-icon>
    </div>
  
    <div class="play d-flex justify-content-center">
      <button type="submit" class="bg-02 p-3" (click)='onSubmit()'>PLAY <ion-icon name="play"></ion-icon></button>
      {{textoDeInput}}
    </div>
    

  </form>
  </div>



</div>