.you-are-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .img-vomit {
        max-width: 150px;
    }
    .-description {
        font-size: 2.5rem;
        color: #ffffff;
    }
    // ion-icon {
    //     font-size: 60px;
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     color: white;
    // }
}