// .app-dice{
//     position: absolute;
//     width: 100%;
//     top: 50%;
//     transform: translateY(-50%);
// }
.wrapper {
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 150px;
}
.text.-font-style{
    font-size: 2rem;
    color: #ffffff;
    position: absolute;
    width: 85%;
    left: 50%;
    top: 12rem;
    transform: translateX(-50%);
}
.-prenda-container {
    position: absolute;
    // top: 4rem;
    width: 85%;
    left: 47.5%;
    top: 12rem;
    transform: translateX(-50%);
    font-size: 1.5em;
}
.brdr-10 {
    border-radius: 10px;
}