.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 30px;

    .logo {
        max-width: 200px;
    }

    ion-progress-bar {
        width: 200px;
        height: 30px;
        border-radius: 20px;
        box-shadow: 0 3px 3px -5px #E40C2B;
        --background: #f7f4e9;
        --progress-background: #E40C2B;
    }

    .credtis {
        font-size: 18px;
    }
}