ion-slides {
    height: 100%;
    --bullet-background-active: #EBA63F;
    --bullet-background: #3cbcc3;
    color: white;

    .font-small {
      font-size: 14px;
    }

    .justify-space-around {
      justify-content: space-around;
    }
  }