<div class="dice">
  <ol class="die-list even-roll" data-roll="1" id="die-1">
    <li class="die-item" data-side="1">
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="2">
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="3">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="4">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="5">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="6">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
  </ol>
  <ol class="die-list odd-roll" data-roll="1" id="die-2">
    <li class="die-item" data-side="1">
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="2">
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="3">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="4">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="5">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
    <li class="die-item" data-side="6">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </li>
  </ol>
</div>
<div class="button-container">
  <button type="button" class="button" [disabled]='disabledButton || showButtonNextUser' [ngClass]="{'-disabled': disabledButton || showButtonNextUser}" (click)="rollDice()">Tirar dados</button>
  <button type="button" class="button" style="margin-left: 20px;" (click)="getNext(actualPlayerIsSeniorDelTres)" *ngIf='showButtonNextUser'>Siguiente jugador</button>
</div>