/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
  font-family: Josefin;
  font-weight: regular;
  src: url("./assets/fonts/JosefinSans-Regular.ttf") format("opentype");
}

* {
  font-family: Josefin;
  box-sizing: content-box !important;
}

.bg-01 {
  background: #EBA63F;
}

.bg-02 {
  background:  #E40C2B;
}

.bg-03 {
  background: #1d1d2c;
}

.bg-04 {
  background: #f7f4e9;
}

.bg-05 {
  background: #3cbcc3;
}

.bg-06 {
  background: #438945;
}

.fc-04 {
  color: #f7f4e9
}
.fc-05 {
  color: #3cbcc3
}